.venv
.vscode
.pytest_cache

# compiled bytecode files
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# secrets
.env 
credentials/
.tokens/*.json

# leetcode data files
backend/scripts/leetcode_problems.json
backend/scripts/cleaned.json

# model path
models/